<mat-drawer-container class="container">
  <!-- Sidebar/menu -->
  <mat-drawer class="w3-bar-block w3-white w3-text-grey w3-top w3-center sidebar" mode="side" opened>
    <h3 class="w3-padding-64 w3-center"><b>MARK DARWIN<br>MARASIGAN</b></h3>
    <a href="#about" class="w3-bar-item w3-button">ABOUT ME</a>
    <a href="#gallery" class="w3-bar-item w3-button">GALLERY</a> 
    <a href="#guest" class="w3-bar-item w3-button">GUEST LIST</a>
  </mat-drawer>

  <mat-drawer-content class="mainbar">
  <!-- !PAGE CONTENT! -->
  <div class="w3-main">

    <!-- About section -->
    <div class="w3-container w3-light-blue w3-center w3-text-light-grey w3-padding-32" id="about">
      <h2><b>About Me</b></h2>
      <img src="../assets/gallery/mark.jpg" alt="Me" class="w3-image w3-padding-32" width="300" height="350">
      <div class="w3-content w3-justify" style="max-width:600px">
        <h4>Hi! My name is Mark Darwin.</h4>
        <p>I am 31 years old from Batangas, Philippines. I studied Bachelor's Degree in Information Technology at Pamantasan ng Cabuyao back in 2013. My major in Web Development.</p>
        <p>Since 2013, I worked at various companies in the Philippines as a Web Developer. The programming languages used are ASP.Net, C#.Net, JSP (Java Server Pages) with MySQL or Microsoft SQL as database. In 2018, I studied Japanese language before I worked in Kanagawa Prefecture, Japan for 2 years as a Web Developer focusing in Frontend Development. It is where I learned Angular, Typescript and Spring Boot languages. And after 2 years of working in Japan, I returned to the Philippines and worked as a Software Support at a company in Taguig City.</p>
        <p>Email: markdarwin.marasigan@gmail.com</p>
        <p>Mobile: +63961 842 9996</p>
        <hr class="w3-opacity">
      </div>
    </div>
    
    <!-- Photo grid -->
    <div class="w3-container w3-center w3-padding-32" id="gallery">
      <div class="w3-content" style="max-width:600px">
        <h2 class="w3-center"><b>Gallery</b></h2>
        <div class="row">
          <div class="column">
            <img src="../assets/gallery/beach.jpeg" style="width:100%" alt="Relaxing at the beach">
          </div>
          <div class="column">
            <img src="../assets/gallery/cooking.jpg" style="width:100%" alt="Cooking delicious meal">
          </div>
          <div class="column">
            <img src="../assets/gallery/movies.jpg" style="width:100%" alt="Movie marathon">
          </div>
          <div class="column">
            <img src="../assets/gallery/study.jpg" style="width:100%" alt="Movie marathon">
          </div>
        </div>

        <div class="row">
          <div class="column">
            <img src="../assets/gallery/kpop.png" style="width:100%" alt="Listening to K-Pop musics">
          </div>
          <div class="column">
            <img src="../assets/gallery/pets.jpg" style="width:100%" alt="Playing with my pets">
          </div>
          <div class="column">
            <img src="../assets/gallery/space.jpg" style="width:100%" alt="Dreaming of outside of earth">
          </div>
          <div class="column">
            <img src="../assets/gallery/travel.jpg" style="width:100%" alt="Movie marathon">
          </div>
        </div>
      </div>
    </div>

    <!-- Guest section -->
    <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="guest">
      <div class="w3-content" style="max-width:600px">
        <h2 class="w3-center"><b>Welcome</b></h2>
        <p>Please fill out the form so that I know who visited my profile. Nice to meet you!</p>
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput id="name" name="name" #name>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput id="email" name="email" #email>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Message</mat-label>
                <textarea matInput id="message" name="message" #message></textarea>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-raised-button color="primary" (click)="onSave()">
                <i class="material-icons">send</i>
                Send
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-light-blue">  
      <div class="w3-row-padding">
      </div>
    </footer>

  <!-- End page content -->
  </div>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
